#body {
	background-color: gray;
	margin-top: 7rem;
	background: linear-gradient(to right, grey, white, orange);
}
audio {
	margin-top: 13px;
	margin-left:-5rem;
}
.navCss {
	background: linear-gradient(to left, grey, white, orange);
}
.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
}
#height {
    margin: 0 auto; /* Align slide image horizontally center */
    height: 315px;
}
.carousel {
    background-color:white;
    position: relative;
    padding: 4px;     /* Shows as a border around the carousel */
}
.bkgrnd {
	background: linear-gradient(270deg,lightgrey,orange);
	margin-top:3px;
}
.bkgrnd2 {
	background: linear-gradient(90deg,lightgrey,orange);
	margin-top:3px;
}
.nbkgrnd {
	background: linear-gradient(270deg,lightgrey,orange);
}
.nbkgrnd2 {
	background: linear-gradient(90deg,lightgrey,orange);
}
.pgbkgrnd {
	border-width: 2px;
	border-color: white;
}
.thumbnail {
	margin-top: 0rem;
}
.anchorz {
	display:block;
	height: 7rem;
	/*width:100%;*/
	margin-top: -7rem;
	visibility: hidden;
}
.siteNav {
	margin-bottom: 0rem;
}
/*span.anchorz:before {
    display: inline;
    content: "";
    height: 10em;
    margin-top: -10em;
    visibility: hidden;
}*/
.customFooter p{
	margin-left: 23%;
}
/*Begin picture gallery CSS*/
article {
	background-color: white;
	padding:2rem;
	border-radius: 3px;
	padding-bottom: .5rem;
	margin-bottom: 2rem;
}
ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {     
  list-style:none;
  margin-bottom:25px;           
}
ul li img {
  cursor: pointer;
}
.modal-body {
  padding:5px !important;
}
.modal-content {
  border-radius:0;
}
.modal-dialog img {
  text-align:center;
  margin:0 auto;
}
.controls{          
width:50px;
display:block;
font-size:11px;
padding-top:8px;
font-weight:bold;          
}
.next {
float:right;
text-align:right;
}
