#body {
	background-color: gray;
	margin-top: 7rem;
}
.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
}
.carousel {
        background-color:white;
        position: relative;
        padding: 4px;     /* Shows as a border around the carousel */
}
.anchor {
	display:block;
	height: 13rem;
	margin-top: -13rem;
	visibility: hidden;
}
.customFooter p{
	margin-left: 23%;
}
/*Begin picture gallery CSS*/
article {
	background-color: white;
	padding:2rem;
	border-radius: 3px;
	padding-bottom: .5rem;
	margin-bottom: 2rem;
}
ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {     
  list-style:none;
  margin-bottom:25px;           
}
ul li img {
  cursor: pointer;
}
.modal-body {
  padding:5px !important;
}
.modal-content {
  border-radius:0;
}
.modal-dialog img {
  text-align:center;
  margin:0 auto;
}
.controls{          
width:50px;
display:block;
font-size:11px;
padding-top:8px;
font-weight:bold;          
}
.next {
float:right;
text-align:right;
}
/*override modal for demo only*/
/*.modal-dialog {
  max-width:500px;
  padding-top: 90px;
}
@media screen and (min-width: 768px){
  .modal-dialog {
      width:500px;
      padding-top: 90px;
  }          
}
@media screen and (max-width:1450px){
  #ads {
      display:none;
  }*/
}
